<a href="https://colab.research.google.com/github/2Beneficence2/DL23/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**"Mary is frendly."를 의문문으로 바꾸기**

In [ ]:
w = "Mary is friendly."
a = w.split()
w1 = a[0]
w2 = a[1]
w3 = a[2] + "?"

In [ ]:
w4 = w2[0].upper()+ w2[1]
print(w4)

Is

In [ ]:
w3 = w3.replace(".","")
print(w4 + " " + w1 + " " + w3)

Is Mary friendly?

**gTTS Package**

In [ ]:
!pip install gtts
!pip install IPython
from gtts import gTTS
from IPython.display import Audio, display

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gtts
  Downloading gTTS-2.3.2-py3-none-any.whl (28 kB)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.10/dist-packages (from gtts) (2.27.1)
Requirement already satisfied: click<8.2,>=7.1 in /usr/local/lib/python3.10/dist-packages (from gtts) (8.1.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gtts) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gtts) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gtts) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gtts) (3.4)
Installing collected packages: gtts
Successfully installed gtts-2.3.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: IPython in /usr/local/lib/python3.10/dist-packages (7.34.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from IPython) (67.7.2)
Collecting jedi>=0.16 (from IPython)
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 54.0 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from IPython) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from IPython) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from IPython) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from IPython) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from IPython) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from IPython) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from IPython) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from IPython) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->IPython) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->IPython) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython) (0.2.6)
Installing collected packages: jedi
Successfully installed jedi-0.18.2

**Random module**

In [ ]:
import random
a = random.randint(1,15)
a*10
print(a*10)
print(a)
#결과값은 미정. random이기 때문에에

130
13

**"Welcome, 2023!" 을 어떻게 얻는가**

In [ ]:
a1 = "Welcome"
a2 = "2023"

print(a1 +"," +a2 + "!" )

Welcome,2023!

**화이팅 10번 반복하기**

In [ ]:
a = "화이팅"
a*10

'화이팅화이팅화이팅화이팅화이팅화이팅화이팅화이팅화이팅화이팅'

**string인 "2023"을 integer로 변환하기**

In [ ]:
a1 = "2023"
a2 = int(a1)
print(a2)
type(a2)

2023

int

**List = indexing**

In [ ]:
a = [1,2,3]
a[0]

1

**Range(x,y) 함수**

In [ ]:
x1 = range(1,10)
list(x1)
#왼쪽, 즉 1은 포함하고 오른쪽, 즉 10은 포함하지 않는다.

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#list 함수 예시
a = ["banana", "potato", "apple"]
a[2]

'apple'

**Dictionary datatype : {key:value}**

In [ ]:
sub = {"math": 80, "music" : 90, "English" : 100}
print("one of my grades is:", sub["math"])

one of my grades is: 80

**Input, output 함수**

In [ ]:
num = input()
num*5
print(num*5)

a=int(num)
a*5
print(a*5)

2
22222
10

**사귄 시간 구해보기**

In [ ]:
day = input()
hours = 24
aday = int(day)
print("The total hours we met are:", hours*aday)

2
The total hours we met are: 48

**data.strip**

In [ ]:
a = "                      Mary is friendly.                   "
a1 = a.strip()
print(a1)

Mary is friendly.

**data.split**

In [2]:
a = "mary is friendly."
a1 = a.split()
print(a1)

['mary', 'is', 'friendly.']

In [6]:
a = "out-of-date"
a1 = a.split('-')
print(a1)

['out', 'of', 'date']

**' '.join()**

In [10]:
wordlist = ['mary','is','smart']
' '.join(wordlist)

'mary is smart'

**'mary'라는 단어의 첫글자만 대문자로 나타내기**

In [13]:
w = "mary"
f = w[0].upper() + w[1:]
print(f)

Mary

**for loops 함수**

In [17]:
numbers = [1,2,3,4,5]
for num in numbers:
  print(num**2)
  #square는 제곱을 의미한다. (**로 표시한다.)

1
4
9
16
25

**출석부 DIY**

In [18]:
num_names = input("How many names?")
num_names = int(num_names)

attendance = []

for i in range(0,num_names):
  name = input()
  attendance.append(name)

  print(attendance)

How many names?3
김은혜
['김은혜']
방선형
['김은혜', '방선형']
안소미
['김은혜', '방선형', '안소미']

**Demo {gtts}**

In [19]:
!pip install gTTS
from gtts import gTTS 
from IPython.display import Audio

def tts(text):
  gtts_object = gTTS(text,lang ="en", slow = True)
  gtts_object.save("myaudio.mp3")
  return Audio("myaudio.mp3")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gTTS
  Downloading gTTS-2.3.2-py3-none-any.whl (28 kB)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.10/dist-packages (from gTTS) (2.27.1)
Requirement already satisfied: click<8.2,>=7.1 in /usr/local/lib/python3.10/dist-packages (from gTTS) (8.1.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (3.4)
Installing collected packages: gTTS
Successfully installed gTTS-2.3.2

**Demo calculator**

In [21]:
def add(x,y) :
  return x+y
def substract(x,y):
  return x-y
def multiply(x,y):
  return(x*y)
def divide(x,y):
  return(x/4)

In [22]:
add(2,3)
#test

5